$mid-screen: 34.375em;
$big-screen: 59em;
$small-font: 1rem;

;html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #101010;  
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.3;
}

a, a:visited {
    text-decoration: none;
}

.intro {
    padding: 1rem;
    &__header {
	text-align: center;
    }
    &__header  :first-child {
	margin-bottom: 0;
    }
    &__header > * + * {
	color: grey;

    }
    &__names {
	margin: 0;
	font-size: $small-font;
    }
    &__group_name {
	margin-top: 0.3em;
    }
   
    &__desc {
	display: flex;
	justify-content: center;
	margin: auto;
	max-width: 400px;
    }
    &__categories {
	list-style: none;
        display: grid;
	grid-template-rows: max-content max-content;
	grid-template-columns: auto auto;
	grid-row-gap: 1rem;
	grid-column-gap: 2rem;

	margin: 0 auto;
	padding: 1rem;
	max-width: 900px;
        & > *{
	    max-width: 400px;
	    font-size: $small-font;
	    color: grey;
	    
	}
    }
    

}




.cards {
    display: grid;
    gap: 1rem;
    max-width: 1244px;
    margin: 0 auto;
    padding: 1rem;
    @media (min-width: $big-screen){
	grid-template-columns: repeat(2, 1fr);
    }
}
.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 1fr auto;
    
    background: #ffffff;
    border-radius: 10px;
    color: #101010;

    @media (min-width: $mid-screen){
	grid-template-columns: 300px repeat(2, 1fr);
	grid-template-rows: 1fr auto;
    }
    @media (min-width: $big-screen){
	grid-template-columns: 170px repeat(2, 1fr);
    }

    &__overlay {
	display: none;
	@media (min-width: $big-screen){
	    position: relative;
	    opacity: 0;
	    display: grid;
	    justify-items: center;
	    align-items: center;
	    background: rgba(0, 0, 0, 0.5);
	    grid-column: 1 / 4;
	    grid-row: 1 / 3;
	    transition: opacity 200ms ease-in-out;
	}
	.card:hover & {
	    opacity: 1;
	}
	span {
	    display: inline-block;
	    padding: 0.5rem 1rem;
	    border: 2px solid #ffffff;
	    background: rgba(0, 0, 0, 0.5);
	    color: #ffffff;
	    font-weight: 700;
	}
    }

    &__image {
	grid-column: 1 / 3;
	grid-row: 1 / 2;

	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	@media (min-width: $mid-screen){
	    grid-column: 1 / 2;
	    grid-row: 1 / 3;
	}
    }

    &__content {
	grid-column: 1/3;
	grid-row: 2/3;
	padding: 1.3rem;

	@media (min-width: $mid-screen){
	    grid-column: 2 / 4;
	    grid-row: 1 / 2;
	}
    }

    &__title {
	font-size: 1.75em;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 0.75rem;
    }

    &__description {
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 0.75rem;
    }

    &__date, &__readtime {
	grid-row: 3 / 4;
	font-size: 0.9rem;
	font-weight: 700;
	color: grey;
	line-height: 1;
	padding-bottom: 1.5rem;
    }
    &__date {
	grid-column: 1 / 2;
	padding-left: 1.5rem;

	@media (min-width: $mid-screen){
	    grid-column: 2 / 3;
	    grid-row: 2 / 3;
	}
    }

    &__readtime {
	grid-column: 2 / 3;
	justify-self: end;
	padding-right: 1.5rem;

	@media (min-width: $mid-screen){
	    grid-column: 3 / 4;
	    grid-row: 2 / 3;
	}
    }
}
